*.ipynb_checkpoints
*.pdf
*.fdb_latexmk
*.fls

*.csv
readme.txt
20150114_notes
*~
*.pyc
*.dump
*out.txt
books
data
*.zip
onebotplus_debug
*.log
casino_upload
mini_tournament
*.so
*.jar
*.dylib
example/
*.o
*.d
pbots_calc/
*.aux
*.gz
*.bat
*.dblite



*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

pip-log.txt

.coverage
.tox
nosetests.xml

*.mo

.mr.developer.cfg
.project
.pydevproject

*.swp

*.sconsign.tmp
sim_data/
.Rhistory
*.txt
*.ods
